.main-container-four {
  border: solid 1px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-bottom: 82px;
  margin-left: 665px;
  .box {
    width: 350px;
    position: relative;

    .span {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      padding-left: 80px;
    }

    .text-1 {
      text-align: center;
    }

    .r {
      color: $text-color;
    }

    .box img {
      width: 100%;
      display: block;
    }
  }

  .box:hover{
    transform: scale(1.1);
    transition-duration: 250ms;
    width: 350px;
    
  }

  .box{
    gap: 20px;
  }
}