.main-container-two {
  margin: 0 auto;
  border: solid 1px;
  max-width: 1200px;
  margin-bottom: 100px;

  .photography {
    text-transform: uppercase;
  }

  .lorem-i {
    color: $text-color;
  }
}
