.body {
  background-color: black;
}

.p-dark {
  color: white;
}

.photographys {
  color: white;
}

.main-container-one {
  border: none;
  text-align: center;
  margin-left: 1200px;
  font-size: 24px;
}

.text-1 {
  color: black;
}
